.flip_image {
  &-container {
    margin: auto;
    width: 450px;
  }

  &-url_block {
    display: flex;
    justify-content: space-around;
  }

  &-image_container_block {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 5px;
  }

  &-image_block {
    display: grid;

    &-horizontal_button {
      grid-row: button;
      grid-column: image;
      display: flex;
      justify-content: space-around;
    }
    &-horizontal_icon {
      transform: rotate(-90deg);
    }
    &-vertical_button {
      grid-row: image;
      grid-column: button;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-image {
      grid-row: image;
      grid-column: image;
    }
  }
}