body {
    --size: 50px;
    --color: gray;
    --intensity: 1s;
}

.circle_container {
    position: relative;
    width: 85px;
    height: 85px;
}

.circle_container:hover .circle_container-menu {
    display: block;
}


.circle_container-menu {
    display: none;
    position: absolute;
    z-index: 100;
}

.circle-width-slider {
    width: 85px;
    margin: auto;
}

.flashlight_color-wrapper {
    position: relative;
    overflow: hidden;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
}

.flashlight_color {
    position: absolute;
    right: -8px;
    top: -8px;
    width: calc(var(--size) + 16px);
    height: calc(var(--size) + 16px);
    border: none;
    padding: 0;
}

.circle {
    display: flex;
    width: var(--size);
    height: var(--size);
    background: var(--color);
    border-radius: 50%;
    position: relative;
    margin: 16px auto 16px auto;
    box-sizing: border-box;
}

.circle_animation {
    animation: var(--intensity) linear infinite bright;
}

.circle::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 16px;
    left: 0;
    right: 0;
    top: -15px;
    margin: 0 auto 0 auto;
    padding: 0;
    background: rgb(68, 53, 73);
    border-radius: 2px;
    display: inline-block;
    border-bottom: 2px solid rgb(97, 81, 107);
}

.circle_container::after {
    position: absolute;
    content: "";
    top: -10px;
    left: 50px;
    width: 70px;
    height: 18px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}

.circle_container:last-child::after {
    content: '';
    position: absolute;
    border: none;
}

.controls {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-gap: 20px;
}

@keyframes bright {
    0%,
    100% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 20px 5px var(--color);
    }
}