.countdown_timer {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
  }

  &-set_timer_block {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }

  &-timers_block {
    height: 100%;
    width: 400px;
    overflow-y: auto;
    padding: 0 25px;
  }

  &-button {
    width: 100px;
    margin: 0 auto !important;
  }

  &-field {
    width: 70px;
    margin-left: 5px !important;
  }
}